@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the Local Font */
@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Supports variable weights */
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #000000;
  color: #ffffff;
}

/* Custom Scrollbar for the sleek look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
}